/* Define some colors */
:root {
    --eggshell: rgb(243,247,233);
    --light-green: rgb(105,129,46);
    --dark-green: #3b491a;
  }

/* Can change opacity of bottom nav for slides */
.fp-slidesNav{
    opacity: 1.0;
}

/* .fp-tooltip {
    color: #3b4351 !important;
} */

/* Style of fullpage tooltip
(text next to navigation buttons on right side) */
#fp-nav ul li .fp-tooltip {
    top: -8px;
    color: var(--dark-green);
    font-size: 18px;
    /* font-weight: bold; */
}

/* Color of navigation buttons */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background: var(--light-green);
}

/* Color of navigation buttons on specific sections/slides */
/* .fp-viewing-SectionOne-1 .fp-slidesNav ul li a span{
    background: blue !important;
} */

/* Make navigation buttons hidden on welcome page  */
.fp-viewing-Welcome #fp-nav {
    visibility: hidden;
}

/* Easiest for now */
.section{
	text-align:center;
}

/* Footer with padding */
.footer {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    color: var(--eggshell);
}

/* Custom href */
.container a {
    text-decoration: none;
    border-radius: 1rem;
    padding: 4px 10px 4px;
    transition-property: all;
    transition-duration: 0.4s;
    color: var(--eggshell);
    background: var(--dark-green);
}

/* Enlarge/change background color when hovering */
.container a:hover {
    padding: 6px 15px 6px;
    background: var(--light-green);
}

/* Custom colors for href for welcome page*/
#glm-welcome .container a {
    color: var(--eggshell);
    background: var(--dark-green);
}

/* Change colors when hovering for welcome page*/
#glm-welcome .container a:hover {
    background: var(--eggshell);
    color: var(--dark-green);
}

/* Welcome page */
#glm-welcome {
    color: var(--eggshell);
}