/* Define some colors */
:root {
    --eggshell: #F3F4E9;
    --eggshell_lighter: #F9FAF5;
    --light-green: rgb(105,129,46);
    --dark-green: #3b491a;
  }

/* Can change opacity of bottom nav for slides */
.fp-slidesNav{
    opacity: 1.0;
}

/* .fp-tooltip {
    color: #3b4351 !important;
} */

/* Style of fullpage tooltip
(text next to navigation buttons on right side) */
#fp-nav ul li .fp-tooltip {
    top: -8px;
    color: var(--dark-green);
    font-size: 18px;
    /* font-weight: bold; */
}

/* Color of navigation buttons */
#fp-nav ul li a span,
.fp-slidesNav ul li a span{
  background: var(--light-green);
}

/* Color of navigation buttons on specific sections/slides */
/* .fp-viewing-SectionOne-1 .fp-slidesNav ul li a span{
    background: blue !important;
} */

/* Make navigation buttons hidden on welcome page  */
.fp-viewing-Welcome #fp-nav {
    visibility: hidden;
}

/* Easiest for now */
.section{
	text-align:center;
    cursor: default;
}

/* Footer with padding */
.footer {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    color: var(--eggshell);
}

/* Custom href */
.container a, .btn {
    text-decoration: none;
    border-radius: 1rem;
    padding: 4px 10px 4px;
    transition-property: all;
    transition-duration: 0.4s;
    color: var(--eggshell);
    background: var(--dark-green);
}

.btn:hover {
    padding: 6px 15px 6px !important;
    background: var(--light-green) !important;    
}

/* Enlarge/change background color when hovering */
.container a:hover {
    padding: 6px 15px 6px;
    background: var(--light-green);
}

/* Custom colors for href for welcome page*/
#glm-welcome .container a {
    color: var(--eggshell);
    background: var(--dark-green);
}

/* Change colors when hovering for welcome page*/
#glm-welcome .container a:hover {
    background: var(--eggshell);
    color: var(--dark-green);
}

/* Welcome page */
#glm-welcome {
    color: var(--eggshell);
}

#play-button {
      /* background: #212529;
      padding-right: 26px;
      border-radius: 3px;
      border: none;
      color: white;
      margin: 0;
      padding: 0 12px; */
      width: 70px;
      height: 40px;
      cursor: pointer;
}

.leaflet-popup-content {
        width: auto !important;
}

.ticks {
      font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/* Set opacity to 0 for elements to reveal */
.section .reveal {
	opacity: 0.0;
	transition: opacity 2.0s;
}

/* Set opacity to 0.3 for last element to reveal
so that when footer becomes active the top section
doesn't become blank */
.section .reveal.last {
	opacity: 0.3;
}

/* Set opacity to 1 for active elements to reveal */
.section.active .reveal {
	opacity: 1;
}

/* Customize fullpage watermark link in footer */
.fp-watermark a{
    opacity: 0.8;
    font-family: -apple-system;
    color: var(--eggshell) !important;
    font-size: 14px;
    border-radius: 1rem;
    background: var(--dark-green);
    transition: all 0.4s;
}

/* Change colors when hovering */
.fp-watermark a:hover {
    color: var(--dark-green) !important;
    background: var(--eggshell);
}

.btn{
    border-radius: 1rem;
    padding: 4px 10px 4px !important;
    transition-property: all;
    transition-duration: 0.4s;
    color: var(--eggshell) !important;
    background: var(--dark-green) !important;
    border: none;
}

.popover .popover-text{
    cursor: pointer;
    animation: fade 2s ease-in-out infinite;
}

.popover .popover-text:hover{
    animation: none;
}

.popover .card{
    border-radius: 1rem;
    background: var(--eggshell_lighter);
    cursor: default;

}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    opacity: 0;
    pointer-events: none !important;
    transition: opacity 0.3s;
    border-left: 60px solid var(--light-green);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    right:50%;
    /* -ms-transform: translateY(-50%); */
    transform: translate(1050%,-75%);
}


.popover:hover .arrow-right{
    opacity: 1.0;
}

/* Add inside popver div
<div class="vertical-center">
<div class="arrow-right"></div>
</div> */
@keyframes fade {
    0%    { opacity: 1; }
    50%   { opacity: 0; }
    100%   { opacity: 1; }
  }
